@font-face
  font-family: 'sell-icon'
  src:  url('fonts/sell-icon.eot?f1z2ar')
  src:  url('fonts/sell-icon.eot?f1z2ar#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?f1z2ar') format('truetype'),
    url('fonts/sell-icon.woff?f1z2ar') format('woff'),
    url('fonts/sell-icon.svg?f1z2ar#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


